@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li class="active"><span>1</span></li>
            <li><a href="http://www.startbbs.com/forum/view/1566/2">2</a></li>
            <li><a href="http://www.startbbs.com/forum/view/1566/3">3</a></li>
            <li class="next"><a href="http://www.startbbs.com/forum/view/1566/2"></a></li>

        </ul>
    </div>
</body>
</html>
