<div class='box'>
    <div class='box-header'>
        最新贴子
    </div>
    <div class='inner'>
        <ul class="unstyled">
            @{
    foreach (var item in XBBS.DataProvider.ForumDataProvider.GetLastForum(10))
    {
        <li class="li_item">
            <a href="/topic/@item.FId" class="startbbs">
                @XBBS.Core.Utils.SubString(item.Title, 14)
            </a> <span class="fr gray">@XBBS.Core.Utils.FriendlyDate(item.AddTime.Value) </span>
        </li>
    }
}
        </ul>
    </div>
</div>